div{
    background-color: rgba(0, 0, 0, 0.159);
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    border:6px black double;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}